@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scrollbar-width: thin;
  scrollbar-color: #adb5bd #dee2e6;
}

@media (prefers-color-scheme: dark) {
  :root {
    scrollbar-color: #495057 #343a40;
  }
}
