@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400;500&display=swap');

/* General Styles */
body {
    font-family: 'IBM Plex Mono', monospace; 
    color: #696663; 
    margin: 0; 
}

main {
    background-color: #F5EFE8;
}

h1 {
    font-size: 3vw;
    font-weight: 400;
}

h2 {
    font-size: 2vw;
    font-weight: 200;
}

h3 {
    font-size: 1vw;
    font-weight: 400;
}

/* h4 {
    font-size: 1.25vw;
    font-weight: 400;
}

/* h5 {
    font-size: 0.75vw;
    font-weight: 500;
}

h6 {

}

p {

} */

button {
    font-family: 'IBM Plex Mono', monospace; 
    color: #343a40; 
    height: 2vw;
    cursor: pointer;
    border-radius: 0.3vw;
    border: 0.1vw solid transparent;
}

button:hover {
    transition-duration: 400ms;
}

.margin-small {
    margin: 1vw;
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Landing Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #DFD9D3;
    transition: transform 2s ease-in-out;
    transform: translateY(0);
    z-index: 999;
}

.modal-hidden {
    transform: translateY(-100%);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5vw;
    border-radius: 0.5vw;
    max-width: 40vw;
    z-index: 1000;
}

#word-container {
    margin-top: 10vw;
    margin-bottom: 10vw;
    display: flex;
    font-size: 11vw;
    font-weight: 500;
}
  
#letter {
    animation: fall 1s cubic-bezier(0.3, 0.1, 0.2, 1) forwards;
    margin: 0 0.4vw;
}

#enter-button {
    background-color: #CBC5C0;
    width: 8vw;
}

#enter-button:hover {
    background-color: #B9B3AF;
}

/* Navigation Bar */
#nav-bar {
    position: fixed;
    top: 1%;
    z-index: 998;
}

.nav-button {
    background-color: #F5EFE8;
    min-width: 10vw;
}

.nav-button:hover {
    background-color: #DFD9D3;
}

.nav-button img {
    width: 1.5vw;
    height: auto;
    margin-right: 0.4vw;
}

.vertical-divider {
    width: 0.075vw;
    height: 1.5vw; 
    background-color: #696663;
}

/* About Section */
#about {
    padding: 5vw;
    gap: 5vw;
}












/* Nonce */
.flex {
    display: flex;
}

.flex-right-justify {
    display: flex;
    align-content: flex-end;
}

.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.links {
    height: 4vh;
    gap: 10px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid transparent;
}

.links:hover {
    transition-duration: 400ms;
}

#vertical-divider {
    width: 0.125vw;
    height: 4vh; 
    background-color: #696663;
}


#navigation-buttons {
    margin-right: 0.5vw;
    visibility: hidden;
    transition: opacity 0.5s ease-out;
}
/* 
#navigation-bar button {
    background: rgba(255, 255, 255, 0.5);
    border: none;
}

#navigation-bar button h5 {
    align-self: center;
} */

/* Might need to change these */
#about-button {
    min-width: 53px;
}








/* About Section */


#profile-image > img {
    width: 20vw;
    height: 20vw;
    overflow: hidden;
    border-radius: 50%;
}

#about-me {
    max-width: 30vw;
}

#social-links {
    margin-top: 3vh;
    gap: 1vw;
}
/* 
#social-links > button {
    background-color: #DFD9D3;
    min-width: 130px;
    border-radius: 4px;
    border: 1.5px solid #F5EFE8;
}

#social-links > button:hover {
    background-color: #F5EFE8;
    border: 1.5px solid #696663;
}

#social-links > button > img {
    width: 1.5vw;
    min-width: 20px;
    height: auto;
} */

/* Projects Section */
#projects {
    /* width: 100%; */
    background-color: #DFD9D3;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

#projects-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
    margin: 3vh;
}

#projects-container > div {
    padding: 1vw;
    height: auto;
    gap: 1vh;
    background-color: #F5EFE8;
    border: solid #F5EFE8 1px; 
    border-radius: 10px;
}

#projects-container > div > button {
    background-color: #DFD9D3;
    border-radius: 4px;
    border: 1.5px solid #F5EFE8;
}

#projects-container > div > button:hover {
    background-color: #F5EFE8;
    border: 1.5px solid #696663;
}

#pomodoro-timer > img {
    width: 20vw;
    height: auto;
    border-radius: 3%;
}

#messenger > img {
    width: 20vw;
    height: auto;
    border-radius: 3%;
}

#wordle > img {
    width: 20vw;
    height: auto;
    border-radius: 3%;
}

#coming-soon {
    width: 20vw;
}

/* Animations */
.fade-in {
    animation: fadeIn 2s ease-in-out forwards;
    opacity: 0;
}
  
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-out {
    animation: fadeOut 2s ease-in-out forwards;
    opacity: 1;
}
  
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

.slide-in-left {
    animation: slide-left 3s cubic-bezier(0.3, 0.1, 0.2, 1) forwards;
}

@keyframes slide-left {
    0% {
        transform: translatex(-100vw);
        /* opacity: 0; */
    }
    100% {
        transform: translateX(0);
        /* opacity: 1; */
    }
}

.slide-up {
    animation: slide-up 3s ease forwards;
}

@keyframes slide-up {
    0% {
        height: 100vh;
    }
    100% {
        height: 43vw;
    }
}

@keyframes fall {
    0% {
        transform: translateY(-300px);
        opacity: 0.5;
    }
    25% {
        transform: translateY(0);
        opacity: 1;
    }
    35% {
        transform: translateY(-50px);
    }
    50% {
        transform: translateY(0);
    }
    65% {
        transform: translateY(-10px);
    }
    80% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}